<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/food-update-style.css">
</head>
<body>
    <h1>Update Food Item</h1>
    <div class="add-food">
        <input type="hidden" id="food-id" value="<%= food.id %>">
        <img src="/Imgs/<%= food.id %>.png" alt="Food Image">
        <input type="text" name="name" value="<%= food.name %>" required>
        <input type="text" name="description" value="<%= food.description %>" required>
        <input type="number" name="price" value="<%= food.price %>" required>
        <select name="availability" id="availability">
            <% if (food.availability == "Yes") { %>
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            <% } else { %>
                <option value="Yes">Yes</option>
                <option value="No" selected>No</option>
            <% } %>
        </select>
        <button class="update-btn" onclick="updateFood()">Update Food Item</button>
    </div>
    <button class="back-btn" onclick="location.href='/food'">Back to Food Menu</button>

    <script src="/Scripts/update.js"></script>
</body>
</html>